<h1>Sai Gon Restaurant </h1>
<form class="form-inline pull-xs-right">
     <%= form_tag(fooditems_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Food" %>
                        <%= submit_tag "Search" %>
            <% end %>
  </form>
<div class="btn-group" role="group" aria-label="Basic example">
<% Section.all.each do |section| %>
<%= link_to section, menu_path(section: section), class:'btn btn-secondary' %> 
  <% end %>
</div>
<div class="card card-block">
<%= form_tag menu_path, method: 'get' do %>
<% if params[:section] %>
<%= hidden_field_tag :section, params[:section] %>
<% end %>
<div class="form-inline">
<%= select_tag "orderby", options_for_select([['alphabetical', 'alphabet'], ['price low to high', 'prlowtohigh'], ['price high to low', 'prhightolow']], params[:orderby]), {:prompt => 'Sort by'} %>
    <%= submit_tag "Sort", :name => nil %>
    <% end %>
  </div>
</div>


<div id="food-list">
<div class="container">
 <% @fooditems.in_groups_of(3) do |group| %>
 <div class ="row">
 <% group.compact.each do |fooditem| %>
   <div class="col-md-4">
       <div class="card">
         <%= link_to (image_tag fooditem.try(:image_url_or_default), class: 'card-img-top img-fluid'), fooditem_path(fooditem) %>
         <div class="card-block">
         <h4 class="card-title"> 
          <%= fooditem.name %> 
          <span class="label label-default"><%= fooditem.orders.size %> Orders</span>
          </h4>
           <p class="card-text"><%= fooditem.description %></p>
         </div>
         
      
              <div class="card-block">
                 
                  <a href= <%= "/fooditems/#{fooditem.id}/orders/new"%> class="btn btn-primary">Order</a>
              </div>
       </div>
     </div>
  <% end %>
  </div>
  </div>
 </div>
<% end %>