<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @fooditem.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fooditem.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fooditem.price %>
</p>


<p>
  <strong>Section:</strong>
  <%= @fooditem.section %>
</p>

<p>
  <strong>Ima url:</strong>
  <%= @fooditem.ima_url %>
</p>

<%= link_to 'Edit', edit_fooditem_path(@fooditem) %> |
<%= link_to 'Back', fooditems_path %>
